.claude
tests
vendor
txdocs

database/database.sqlite
compose.dev.yaml
compose.prod.yaml
laravel12bestpractices.txt
phpstan.neon
phpstan-baseline.neon
phpunit.xml
README.md
sonar-project.properties
testkafka.sh

.commands
.cursorignore
.cursorrules
.editorconfig
.env
.env.example
.env.schema
.envforgeignore
.gitattributes
.gitignore
.gitlab-ci.yml
.phpunit.result.cache
