APP_NAME='AED'
APP_ENV=production
APP_KEY=base64:05LMlzlc+E6pG0G9Zm1sBbREme5WL7zApPi7Y5YSyZ4=
APP_DEBUG=false
API_URL=https://local-aed-api.qcdigitalhub.com
FRONT_URL=https://local-aed.qcdigitalhub.com
FRONTEND_URL=https://local-aed.qcdigitalhub.com


LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

TWILIO_SID=ACf8ca0c4dc229b691d304635f89ddd649
TWILIO_TOKEN=4d2868737443d5b2653132448ead290a
TWILIO_FROM=+15744061397

KKIA_PUBLIC_KEY = "9d0fc7a0649011ef9e4c8f724a020285"
KKIA_PRIVATE_KEY = "tpk_9d0fc7a2649011ef9e4c8f724a020285"
KKIA_SECRET_KEY = "tsk_9d0fc7a3649011ef9e4c8f724a020285"

DB_CONNECTION=mysql
DB_HOST=test_aed_db
DB_PORT=3306
DB_DATABASE=test_aed_db
DB_USERNAME=test_aed_db_user
DB_PASSWORD='R00t#123E'

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST="smtp.office365.com"
MAIL_PORT=587
MAIL_USERNAME="collabone@qualitycorporate.com"
MAIL_PASSWORD="ttf4dYne9Yb@!HhxBx"
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="collabone@qualitycorporate.com"
MAIL_FROM_NAME="${APP_NAME}"

TX_BASE_URL = "test-tx-pki.gouv.bj"
TX_ADMINS_LOGGED_AS = "admin-as"
TX_CLIENTS_LOGGED_AS = "main-as"
TX_CLIENT_ID = "appdde"
# TX_CLIENT_ID = "qcapp"
TX_CLIENT_SECRET = "Dj@PKI1990#"
TX_REDIRECT_URL = "https://local-aed.qcdigitalhub.com/auth/let-enter"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

LDAP_HOSTS=localhost
LDAP_PORT=10636
LDAP_USE_SSL=true
LDAP_USE_TLS=false
LDAP_BASE_DN=DC=gouv-test,DC=bj
LDAP_USERNAME=uid=admin,ou=Admins,ou=AED,dc=gouv-test,dc=bj
LDAP_PASSWORD=password
LDAP_LOGGING=true

MINIO_ACCESS_KEY_ID=WSR92Z55YT8DI5WES7XW
MINIO_SECRET_ACCESS_KEY="lKc+CYzG8OOFU82l6xY7FLPKwlEs81+qG69P+j6j"

MINIO_DEFAULT_REGION=us-east-1
MINIO_BUCKET=collabone
FILESYSTEM_CLOUD=minio
MINIO_URL=https://local-minio-api.qcdigitalhub.com
MINIO_ENDPOINT=https://local-minio-api.qcdigitalhub.com
MINIO_USE_PATH_STYLE_ENDPOINT=true

LDAP_API_URL=http://localhost:5000
LDAP_API_USERNAME=ldap-admin
LDAP_API_PASSWORD=ldap-password

TIMESTAMP_API_URL=https://tsa.qcdigitalhub.com
TIMESTAMP_API_USERNAME=admin
TIMESTAMP_API_PASSWORD='password'
